@use 'sass:map';

/* Global Variables */

/* Logo */
$logoFont: 'Source Code Pro';

/* Sfondi */
$primaryBgColor: #3683db;
$secondaryBgColor: #F2F3F4;
$gradientBgColor: linear-gradient(-45deg, rgb(57, 141, 190), #3683db, #2b95bb, #28a7ac);

$errorBgColor: rgb(248, 202, 202);
$successBgColor: rgb(208, 248, 202);

$mainBoxShadow: 0px 2px 6px 4px rgb(219, 219, 219);

/* Testi */
$colorPrimary: #1c7bd3;
$colorSecondary: black;
$colorTertiary: #F2F3F4;
$colorDisabled: #898787;
//Errori
$errorColor: rgb(201, 30, 30);

$fontPrimary: 'Poppins';
$fontSecondary: Helvetica, sans-serif, Arial;

/* Bordi */
$errorBorderColor: rgb(221, 17, 17);
$successBorderColor: green;
$errorBorder: 1px solid $errorBorderColor;

/* Header/Navbar */

$navBgColor: #141414;
$textColor: $colorTertiary;
$navHeight: 60px;
$sideNavWidth: 10%;

/* Footer */

$footerBgColor: rgb(235, 235, 235); 
$colorSocial: gray;
$footerBorder: inset 0px 2px 3px 1px rgb(216, 216, 216);
$footHeight: 80px;

