@use 'sass:map';
@use '../variables' as var;

/* Index Variabili */ 
$buttonBgColor: rgb(0, 0, 0);
$buttonColor: white;
$buttonHoverBorder: 2px solid white;

/* Stile del Main */
main {
    height: fit-content;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: var.$mainBoxShadow;
    padding-bottom: 50px;
}
/* Animazione di sottofondo */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* Posizionamento degli elementi interni al main */
div#columnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    margin-top: 70px;
}
div.mainColumns {
    width: 100%;
    margin: 50px 50px;
}
/* Stile titolo */
div#title {
    font-size: 40px;
    color: var.$colorTertiary;
    
    h1 {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    
    .subtitle {
        margin-top: 10%;

        p {
            font-family: var.$fontPrimary;
            font-weight: bold;
            margin: 0;
    
            .barred {
                text-decoration: line-through;
            }
        }
    }
}
/* Stili logo */
div#image {
    display: flex;
    align-items: center;
    justify-content: center;

    h1#logo {
        font-family: var.$logoFont;
        font-weight: 500;
        color: white;
        font-size: 100px;
    }
}
/* Stile bottone di scorrimento */
button#down {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    color: white; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: rgba(59, 45, 45, 0);
    border: 2px white solid;
    transition: background 2s, border 0.1s ease; 
    box-sizing: border-box;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s;
        z-index: 1;
        background-color: $buttonBgColor;
    }

    &:hover {
        border: $buttonHoverBorder;
        span {
            padding-right: 25px;
            color: $buttonColor;
        }
        i#arrowDown {
            opacity: 1;
            top: 13px;
            right: 40px;
            transform: rotate(0deg);
            color: $buttonColor;
        }
        &::before {
            opacity: 1;
        } 
    }

    span {
        z-index: 2;
        position: relative;
        transition: 0.5s;
        font-weight: bold;
    }

    i#arrowDown {
        position: absolute;
        top: 13px;
        right: 40px;
        transition: opacity 0.5s, transform 0.7s;
        z-index: 3;
        opacity: 0;
        transform: rotate(-90deg);
    }
}

/* Stile card "lavori recenti" */
div.works  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 50px;
    justify-content: space-evenly;
    column-gap: 10px;
}
/* Stile titolo */
h1.title {
    text-align: center;
    font-size: 80px;
    margin-top: 75px;
    color: var.$colorPrimary;
}
/* Stile card */
div.cards {
    position: relative;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin-bottom: 100px;
    border-radius: 10px;
    /* Stile immagine placeholder */
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    &:hover {
        .overlay{
            transform: translate(0px, 0px);
            background-color: rgba(0, 0, 0, 0.5);
            h2 {
                color: #fff;
            }
        }
    }
}
/* Stile overlay delle card */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
    opacity: 1;
    transform: translateY(50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    padding-left: 10px;

    /* Titolo immagine */
    h2 {
        color: black;
        transition: color 0.2s ease;
    }
}

/* Modifica posizionamento nel main per adattamento a schermo stretto */

@media screen and (max-width: 970px) {
    div#columnWrapper {
        flex-direction: column;
    }
    div#title {
        text-align: center;
    }
    h1#logo {
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    div#title {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 30px;
        }
    }

     div#image h1#logo {
        margin-top: 0;
        font-size: 70px;
    }

    h1#workSection.title {
        font-size: 40px;
    }     
}

@media screen and (max-width: 350px) {
    div#image h1#logo {
        font-size: 50px;
    }
}