@use 'sass:math';
@use '../variables' as var;

/* Projects Variabili */
$bubbleColor: #2f00ff80;
$textBorder: white 4px solid;

/* Stile main */
main {
    position: relative;
    
    /* Stile titolo */
    h1 {
        text-align: center;
        color: var.$colorTertiary;
        font-size: 90px;
        margin: 80px 0px;
        height: 20%;
        z-index: 2;
    }
}
/* Posizionamento bolle */
.bubbles {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;  
    z-index: 1;
    overflow: hidden;
}
/* Stile bolle */
.bubble {
    position: absolute;
    background: $bubbleColor;
    border-radius: 50%;
    animation: float 5s infinite ease-in;
    /* Animazione delle bolle */
    @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
            $bubbleSize: math.random(60) * 1px + 20px; 
            width: $bubbleSize;
            height: $bubbleSize;
            left: math.percentage(math.random());
            animation-duration: math.random(5) + 15s;
            animation-delay: math.random(20)*1s;
        }
    }
}
/* Ripetizione dell'animazione delle bolle e inizio e fine animazione*/
@keyframes float {
  0% {
    bottom: -100px;
    transform: translateY(0);
  }
  100% {
    bottom: 100px;
    transform: translateY(-8000px);
  }
}

/* Stile lavori */
div#works {
    z-index: 2;
    display: flex;
    padding: 0px 0px;
    height: 100%;
    width: 100%;
    /* Card Ordering Behaviour */
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two equal columns
    row-gap: 20px; // Spacing between cards
}
/* Stile parte di progetto singolo */
div.singleProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

/* Card con immagine del progetto */
div.cards {
    overflow: hidden;
    width: 100%;
    // height: 450px;
    aspect-ratio: 7 / 4.5;
    /* Immagine anteprima progetto */
    margin-bottom: 0px;
    border-radius: 10px;
    border: $textBorder;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: transform 0.5s ease;
        transform: perspective(100px) scale(1);
    
        /* Dinamica della card di anteprima */
        &:hover {
            transform: scale(1.2) rotateY(0deg);
        }
        
    }
}

/* Stile titolo progetto */
div.descriptionTitle {
    margin: 5% 0;
    width: 80%;
    min-width: fit-content;
    border: $textBorder;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px;
    
    p {
        color: var.$colorTertiary;
        font-family: var.$fontPrimary;
        text-align: center;
        margin: 0;
        
        &.title {
            font-weight: bold;
            font-size: clamp(15px, 2vw, 30px);
        }

        &.category {
            font-size: clamp(12px, 1vw, 17px);
        }
    }
}

/* Riposizionamento per adattamento schermo */
@media screen and (max-width: 770px) {
    div#works {
        grid-template-columns: repeat(1, 1fr);
    }
}