@use 'sass:map';
@use '../variables' as var;

/* Stili generali */

* {
    box-sizing: border-box;
    font-family: var.$fontSecondary;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    min-width: fit-content;
}
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: var.$secondaryBgColor;
}
// Rimossi stili link
a {
    text-decoration: none;
    color: inherit;
}

//Stile Titolo principale
h1, h2, h3, h4 {
    font-family: var.$fontPrimary;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var.$primaryBgColor;
    background: var.$gradientBgColor;
}


/* Stili barra di navigazione */
header {
    top: 0;
    position: sticky;
    z-index: 100;
}
nav {
    width: 100%;
    height: var.$navHeight;
    margin: 0px;
    background-color: var.$navBgColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul#navBar {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 100%;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}
li.navSides {
    width: var.$sideNavWidth;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    a {
        color: var.$textColor;
        font-size: var.$menuFontSize;
        font-weight: bold;
    } 
}
li#navSections {
    flex: 1;
}
div#navMenu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    color: var.$textColor;
    font-size: var.$menuFontSize;
}
div.navItems, div#navLogo {
    width: 100px;
    text-align: center;
    cursor: pointer;
}
div.navItems, #loginButton {
    padding: 10px 0px;
    transition: border-bottom 0.05s ease-out;

    &.selected-page {
        border-bottom: var.$selectedPageBorder;
    }
}

div#navLogo a {
    font-family: var.$logoFont;
    font-weight: 500;
    color: var.$textColor;
}

div#menuIcon {
    display: none;
    visibility: hidden; /* Nascondi l'icona del Menu Hamburger */
    color: var.$textColor;
    width: 100px;
    margin: 0px 5px;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    div#menuIcon {
        display: block;
        visibility: visible; /* Show menu icon */
    }
    li#navSections {
        position: absolute;
        top: var.$navHeight;
        left: 0;
        background-color: var.$navBgColor;
        width: 100%;

        #navMenu {
            display: none;
        }

        &.responsive #navMenu {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-bottom: 5px;
        }
    }
}

@media screen and (max-width: 430px) {
    li#navSections.responsive #navMenu {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    div.navItems {
        width: 100%;
        text-align: left;
    }
}

/* Stile del footer */
footer {
    box-sizing: border-box;
    box-shadow: var.$footerBorder;
    height: var.$footHeight;
    background-color: var.$footerBgColor;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.social {
    color: var.$colorSocial;
    text-align: center;
}
div.social i {
    cursor: pointer;
}
